<section>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h1 mat-dialog-title>Potvrda porudžbine</h1>
    <mat-dialog-content>Da li želite da potvrdite porudžbinu?
      <p>Vreme dostave porudžbine je: {{ recievedData.deliveryTime }} dan(a)</p>
    </mat-dialog-content>
    <!-- Polja za izmenu adrese dostave i broja telefona korisnika -->
    <mat-form-field>
      <input type="text" matInput #addressInput="ngModel" placeholder="Adresa stanovanja" name="address" required
        [(ngModel)]="this.userService.currentUser.address">
    </mat-form-field><br>
    <mat-form-field>
      <input type="text" matInput #phoneInput="ngModel" placeholder="Broj telefona" name="telephone" required
        [(ngModel)]="this.userService.currentUser.telephone">
    </mat-form-field>
    <mat-dialog-actions>
      <!-- Potvrda ili odustajanje od porudžbine -->
      <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true">Potvrdi</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="true">Otkaži</button>
    </mat-dialog-actions>
  </form>
</section>
