<div *ngIf="!this.userService.isSignedIn" style="height: 100vh;">
  <header id="header" class="header-vrh">
    <div class="container">
      <div class="glavni-meni">
        <nav class="navigacija" id="glavnaNavigacija">
          <div class="logo">
            <img src="assets/logoo.png" alt="Logo kompanije">
          </div>
        </nav>
      </div>
    </div>
  </header>
  <div id="banner" class="banner">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="container">
      <div class="dobrodoslica">
        <div class="tekst-dobrodoslice">
          <h1>DOBRODOŠLI!</h1>
          <br>
          <p>Dozvolite da vam otvorimo vrata našeg malog čokoladnog carstva. <br>
            Prepustite se užitku uz našu luksuznu kafu.
          </p>
        </div>
        <div id="user-form">
          <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field>
              <input type="email" matInput placeholder="Vaša email adresa" ngModel name="email" email required
                #emailInput="ngModel">
              <mat-error *ngIf="emailInput.hasError('required')">Polje ne bi smelo da bude prazno.</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">Unesite ispravnu email adresu.</mat-error>
            </mat-form-field>

            <mat-form-field hintLabel="Unesite minimum 8 karaktera">
              <input type="password" matInput placeholder="Vaša šifra" ngModel name="password" required minlength="8"
                #passInput="ngModel">
              <mat-hint align="end">{{ passInput.value?.length }} / 8</mat-hint>
            </mat-form-field>
            <br>
            <div class="dugmici">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                <button type="submit" [disabled]="f.invalid" mat-raised-button color="warn">Prijavi se</button>
                <button mat-raised-button color="primary" (click)="toSignup()">Registracija</button>
              </div>
            </div>
            <p class="error-text">{{ this.errorText }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="about" class="about-glavno">
    <div class="container">
      <div id="tekst-o-nama">
        <h2 class="naslov"> O nama </h2>
        <h3>SVE JE POČELO, KRAJNJE JEDNOSTAVNO...</h3>
        <p> Davne 2015. godine, sa svega tri osobe, umešane su strast, ljubav i zadovoljstvo, da bi se
          osnovala kompanija
          koja danas posluje na duže staze.
        </p>
        <p> Danas, radimo maloprodaju kao i nabavke na veliko, poslujemo u velikom broju gradova gde
          vršimo
          dostavu, iako
          je moguć i boravak u objektima. Trudimo se da dostava bude što ekspresnija i da proizvodi
          budu
          dostavljeni na najbezbedniji način. Za manje porudžbine, rok za dostavu je prosečno dva
          sata, a za one
          koji traže nešto veću količinu, rok dostave je jedan do dva dana.
        </p>
        <p> Želja i potreba svakoga korisnika naša je zapovest. Nadamo se da ćete nas redovno posećivati
          i da ćete
          nam biti dragi gosti!
        </p>
      </div>
      <div id="slika-o-nama">
        <div class="slike">
          <img src="assets/slika3.png" alt="Glavna slika">
          <img class="slika-umetnuta" src="assets/slika4.png" alt="Umetnuta slika">
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.userService.isSignedIn">
  <app-products></app-products>
</div>
